:root {
  --font-primary: 'pt_sansregular', 'Helvetica', sans-serif, system-ui;
  --yellow: #ffd502;
  --golden: #e6b800;
  --orange: #f47d20;
  --love: #ff3e4d;
  --blue: #005ad2;
  --dawn-gray: #e4e5ec;
  --dark-gray: #666;
  --midnight-blue-1: #201d48;
  --midnight-blue-2: #121029;
}
