<template id="newcomers__template">
    <article class="newcomers__article">
        <a class="newcomers__overview" href="">
            <div class="newcomers__media">
                <img class="newcomers__img newcomers__img--bg" src="" alt="" loading="lazy">
                <img class="newcomers__img newcomers__img--logo" src="" alt="" loading="lazy">
            </div>
        </a>
        <div class="newcomers__info">
            <h3 class="newcomers__h3"></h3>
            <p class="newcomers__p"></p>
            <a class="newcomers__shop" href="">Ir a la tienda</a>
        </div>
    </article>
</template>
