.about-shop {
  margin: 2em 1em;
  background-color: #f2f2f2;

  &__p {
    padding: 1em;
    font-size: .875em;
  }

  &__a {
    color: var(--blue);
    font-weight: 500;
  
    &:hover{
      text-decoration: underline
    }
  }
}
